				section
					section
						h1 Confessions of a failed TDD-ER
						ul
							li.fragment I am not a testing expert
							li.fragment I dislike testing snobbery
							li.fragment Writing tests-first is hard
							li.fragment This talk is not about how to write tests
					section
						h1 Challenging Two Prevalent Attitudes
						ul
							li.fragment High test coverage and unit tests win the day
							li.fragment Testing is for people with spare time
						br
						br
						div.fragment
							h3 Problem:
							p Both attitudes focus on the activity of writing tests
					section
						h1 What We're Really Saying
						ul
							li.fragment Testing has proven helpful to a lot of developers
							li.fragment Developers who aren't testing don't see the value
					section
						h1 Let's change the conversation
						h3 from
						q Y U NO TEST COVERAGE?
						p: small - Unhelpful Test Denizen
						br: br
						h3 to
						q Let's talk about the positive qualities testing introduces
						p: small - Developer accessing non-crazy side
					section
						h1 Testability is a continuum
						h3 Untestable -> Testable
						p As 'testability' increases
						p certain qualities are more evident in the code base 
						p which make it easier to cultivate the source over time
