				section
					section
						h1 Benefits of Testability
						ul
							li Clear narrative
							li Distinct components
							li Isolated dependencies
							li Source you can cultivate
					section
						h1 Focus on Value
						p Don't hesitate to ask yourself
						q Where's the value in this activity?
					section
						h1 Let's Talk
					section
						h1 Thanks For Listening!
						br
						br
						ul
							li
								h3 The Source For This Talk
								p http://github.com/arobson/js-to-the-test-talk

