				section
					h2 Oh, Hai!
					h3 I'm Alex
					ul
						li Polyglot geek: @appendTo
						li Sporadic tweeter: @A_Robson
						li Swirling vortex of code: http://github.com/arobson
						li Barely blogging at:
						ul
							li 
								a(href='http://sharplearningcurve.com') sharplearningcurve.com
							li 
								a(href='http://freshbrewedcode.com/alex') freshbrewedcode.com/alex