				section
					h2 Confessions of a Failed TDD-er
					ul
						li.fragment I am not a <em>testing expert</em>
						li.fragment I dislike <em>testing snobbery</em>
						li.fragment Writing tests-first is hard for me
						li.fragment I still think testing is <b>important</b>
