				section
					section
						h1 The Cascading Failures of Untested Code
						q failure to test will will be the root of the weed choking the life from your project

					section
						p.tiny The Cascading Failures of Untested Code
						h1 1. Code Sprawl
						p
							| when the narrative of your source reads like this:
						q and then and then and then and then and then and then
						div
							img(src='images/noandthen.jpg')
					section
						p.tiny The Cascading Failures of Untested Code
						h1 2. Tight Coupling
						p it only gets harder to distinguish between components of the system
						div
							img(src='images/coupling.jpg',height='300')
					section
						p.tiny The Cascading Failures of Untested Code
						h1 3. Brittleness
						p single changes break the code base in many, many places
						div
							img(src='images/brittle.jpg')
					section
						p.tiny The Cascading Failures of Untested Code
						h1 4. Unsustainability
						p The effort required to maintain the system increases with each change
						div
							img(src='images/sisyphus.jpg', height='300')