				section
					h2 Confessions of a Failed TDD-er
					ul
						li.fragment I am not a testing expert
						li.fragment I dislike testing snobbery
						li.fragment Writing tests-first is hard for me
						li.fragment I still think testing is <b>important</b>
