				section
					section
						p The Testing Paradox
						h1 Customers don't care about tests

					section
						p The Testing Paradox
						h1 Customers want you to ship
						
					section
						p The Testing Paradox
						h1 Shipping requires testing
						div.fragment 
							p unless you're ok with the system falling over 
								| because you're this guy:
							img(src='images/scumbag-programmer.jpeg')

