				section
					section
						h1 There is a better way
						h2 What if we:
						ul
							li Factor out DOM interaction
							li Focus on behavior
					section
						h2 List Component
						pre: code(style="width:100%").
							var List = function( selector ) {
								var $el = $( selector ),
									$list = $el.find( "#list" );
								
								return {
									add: function( title, speaker ) {
										var $dt = $( "<dt>" + title + "</dt>" );
										var $dd = $( "<dd>" + speaker + "</dd>" );
										$list.append( $dt );
										$list.append( $dd );
									},
									getTitles: function() {
										return $list
												.find( "dt" )
												.map( function() { return $(this).text(); } )
												.get();
									}
								};
							};
					section
						h2 Form Component
						pre: code(style="width:100%").
							var Form = function( selector ) {
								var $el = $( selector ),
									$title = $el.find( "#title" ),
									$speaker = $el.find( "#speaker" ),
									$add = $el.find( "#add" );
								
								return {
									clear: function() {
										this.setTitle( "" );
										this.setSpeaker( "" );
										this.disableAdd();            
									},
									
									getTitle: function() { return $title.val().trim(); },
									setTitle: function( value ) { $title.val( value ); },
									isTitleEmpty: function() { return this.getTitle().trim() === ""; },
									whenTitleChange: function( handler ) { $title.on( "keyup", handler ); },

									getSpeaker: function() { return $speaker.val().trim(); },
									setSpeaker: function( value ) { $speaker.val( value ); },
									isSpeakerEmpty: function() { return this.getSpeaker().trim() === ""; },
									whenSpeakerChange: function( handler ) { $speaker.on( "keyup", handler ); },

									disableAdd: function() { $add.attr("disabled","disabled"); },
									enableAdd: function() { $add.removeAttr("disabled"); },
									whenAdd: function( handler ) { $add.on( "click", handler ); }
								};
							};
					section
						h1 Hang in There
						q But, Alex, we hate you already!
						p -- Everyone
						br
						q It's no sin to trade key strokes, which are cheap, for clarity, which is precious.
						p -- Garret Smith
						br: a(href='http://gar1t.com/blog/2012/06/10/solving-embarrassingly-obvious-problems-in-erlang/') Solving Embarrassingly Obvious Problems in Erlang
					section
						h2 Behavior
						pre: code(style="width:100%").
							var behavior = function( list, form ) {

								var addItem = function() {
									list.add( form.getTitle(), form.getSpeaker() );
									form.clear();
								};
								
								var validateForm = function() { 
									var newTitle = form.getTitle(),
										newSpeaker = form.getSpeaker(),
										duplicate = _.any( list.getTitles(), function( title ) { 
											return title === newTitle;
										} );
									if( duplicate || form.isTitleEmpty() || form.isSpeakerEmpty() ) {
										form.disableAdd();
									} else {
										form.enableAdd();
									}
								};
								
								form.whenAdd( addItem );
								form.whenTitleChange( validateForm );
								form.whenSpeakerChange( validateForm );
							};
							
							var listControl = new List( "div.container" );
							var formControl = new Form( "div#form" );
							behavior( listControl, formControl );​
					section
						h2 Demo
						iframe(style="width: 100%; height: 100%",src="http://jsfiddle.net/a_robson/4yR2h/11/embedded/result",allowfullscreen="allowfullscreen",frameborder="0")
					section
						div
							h3 The Good
							ul
								li DOM interaction is encapsulated
								li jQuery API seperated from logic
								li Easy to understand the behavior
								li Easy to write tests against
								li Easy to maintain and refactor
						br
						br
						div.fragment
							h2 The Bad
							ul
								li MOAR CODE: 75 LoC ( > 100% increase )
						br
						br
						div.fragment
							h1 And The Good Wins It