				section
					h2 How Testing Code Stops The Cascade
					div.row-fluid
						div.span12
							div.span5
								img(src='images/wavebreaker.jpg',style='margin-top:.5em')
							ul.span6(style='margin-left:2em')
								li.fragment
									p Encourages organization
								li.fragment
									p Enforces single responsibility
								li.fragment
									p Requires decoupling
								li.fragment
									p Enables easy refactoring
								li.fragment
									p Guarantees sustainability