				section
					section
						h1 Please Enjoy Some Proof
						img(src='images/pudding.jpeg')

					section
						h1 Scenario
						ul
							li We have a list of talk titles with their speakers
							li We have a simple form for adding new talks
							li The form's submit button should be disabled if:
							ul
								li The title entered already existed
								li The title or speaker is empty

					section
						h3 Adding a speaker
						pre: code(style="width:100%; height: 550px").
							$( "#form #add" ).on( "click", function() {
								var $title = $( "#form #title" ),
									$speaker = $( "#form #speaker" ),
									title = $title.val().trim(),
									speaker = $speaker.val().trim(),
									$form = $( "#form" ),
									$add = $form.find( "#add" ),
									$list = $( "#list" ),
									$dt = $( "<dt>" + title + "</dt>" ),
									$dd = $( "<dd>" + speaker + "</dd>" );
										
								if( !$add.attr( "disabled" ) ) {
									$list.append( $dt );
									$list.append( $dd );
									$title.val("");
									$speaker.val("");
									$add.attr( "disabled", "disabled" );
								}
							} );
					section
						h3 Enable / Disable Add
						pre: code(style="width:100%; height: 550px").
							$( "#form" ).on( "keyup", function() {
								var $form = $( "#form" ),
									$list = $( "#list" ),
									$add = $form.find( "#add" ),
									newTitle = $form.find( "#title" ).val().trim(),
									newSpeaker = $form.find( "#speaker" ).val().trim(),
									blankTitle = newTitle === "" || !newTitle,
									blankSpeaker = newSpeaker === "" || !newSpeaker,
									titles = $list.find( "dt" )
												.map( function() { return $(this).text(); } )
												.get();
									duplicate = _.any( titles, function( title ) {
										return title === newTitle;
									} );
								if( duplicate || blankTitle || blankSpeaker) {
									$add.attr( "disabled", "disabled" );
								} else {
									$add.removeAttr( "disabled" );
								}
							} );
					section
						h2 Demo
						iframe(style="width: 900px; height: 500px",src="/untestable/",allowfullscreen="allowfullscreen",frameborder="0")
					section
						div
							h3.normal The Good
							ul
								li Short code listing ~ 39 LoC
						br
						div.fragment
							h2.normal The Bad
							ul
								li Tightly coupled to jQuery & the DOM
						br
						div.fragment
							h1 The Ugly
							ul
								li Hard to understand the behavior
								li 
									| Testing and maintenance are going to hurt ...
									span.fragment: em  a lot
					section
						h1 The Abominable
						h2 Logic That Interacts Directly With jQuery
						h3 Is No Different Than Writing T-SQL In-Line With Code