				section
					h1 Testing The 'Untestable'
					h3 With code that is largely untestable
					ul
						li You can still write tests 
						li The nature and focus of the tests shifts
						li It becomes all about the implementation
						li Not the behavior :(

