				section
					section
						p The Path To Testability Has Many Obstacles
						h1 The Testing Paradox
						h3.fragment Customers don't care about tests
						h3.fragment Customers want you to ship
						h3.fragment Shipping requires testability
					section
						h2 Stop me if you've heard this one...
						ul
							li.fragment Managers forbid or discourage testing
							li.fragment "It takes longer and costs more to test"
							li.fragment Project never sees the light of day
						br
						br
						div.fragment 
							h3.normal Untestable code craters 
							img.normal(src="images/plane-wreck.jpeg")
							h3.normal into the side of Shipping Mountain