				section
					h2 How Testing Code Stops The Cascade
					div.row-fluid
						div.span12
							div.span5
								img(src='images/wavebreaker.jpg',style='margin-top:.5em')
							ul.span6(style='margin-left:2em')
								li.fragment
									h3 Encourages organization
								li.fragment
									h3 Enforces single responsibility
								li.fragment
									h3 Requires decoupling
								li.fragment
									h3 Enables easy refactoring
								li.fragment
									h3 Guarantees sustainability