				section
					p Testability Is Qualitative
					section
						h1 Beware The Wrong Numbers
						blockquote Metrics that only address symptoms create dangerous incentives
						br: br
						h3.fragment example: AT&amp;T Call Center Story
						h3.fragment example: $1 per bug fix story
					section
						h1 Testing Approaches
						ul
							li: h3 Test Driven Development
							li Unit tests
							li Defensive coding
							li: h3 Behavior Driven Development
							li Asserts desired behavior
							li Proactive design tool
					section
						h1 It's About Delivering Value
						blockquote Activity that does not produce value is waste
						
						h3.normal therefore
						p Rigorously unit testing getters and setters
						p is probably a colossal waste
					section
						h1 Ok, So ...
						h3.fragment If Testing Can Be Wasteful
						h3.fragment And Testing metrics can be misleading
						h2.fragment Where's The Value?
					section
						h1 Sometimes to appreciate the cure
						h3 You need to understand the disease
