				section
					section
						h1
							p The Cascading Failures
							p of Untestability
							small.fragment A journey of anguish and despair
						p.fragment as told by Alex Robson
					section
						p The Cascading Failures of Untestability
						h1 1. Code Sprawl
						p
							| when the narrative of your source reads like this:
						q and then and then and then and then and then and then
						div
							img(src='images/noandthen.jpg')
					section
						p The Cascading Failures of Untestability
						h1 2. Tight Coupling
						p it only gets harder to distinguish between components of the system
						div
							img(src='images/coupling.jpg',height='300')
					section
						p The Cascading Failures of Untestability
						h1 3. Brittleness
						p single changes break the code base in many, many places
						div
							img(src='images/brittle.jpg')
					section
						p The Cascading Failures of Untestability
						h1 4. Unsustainability
						p effort required to maintain the system increases over time
						div
							img(src='images/sisyphus.jpg', height='300')