import './slides/head.jade'
import './slides/slide-intro.jade'
import './slides/slide-about.jade'
import './slides/slide-confession.jade'
import './slides/slide-paradox.jade'
import './slides/slide-qualitative.jade'
import './slides/slide-cascade.jade'
import './slides/slide-proof.jade'
import './slides/slide-improvement.jade'
import './slides/slide-tests.jade'
import './slides/slide-untestable.jade'
import './slides/foot.jade'